.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  min-height: 100vh;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

.navbar {
  background-color: #ef5350 !important;
}